doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width,initial-scale=1,user-scalable=no')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src='/javascript/jquery.min.js')
  script(src='/javascript/bootstrap.min.js')
  script(src='/javascript/angular.js')
  script(src='/javascript/angular-route.min.js')
  script(src='/javascript/angular-resource.min.js')
  script(src='/javascript/route.js')
  script(src='/javascript/controllers.js')
  script(src='/javascript/Chart.js')
  script(src='/javascript/angular-chart.min.js')
  script(src='/javascript/angular-local-storage.js')
